GEMINI_API_KEY=your_gemini_api_key_here
IP_CAMERA_URL=http://192.168.1.xxx:8080/video
FIREBASE_DATABASE_URL=https://your_project-default-rtdb.firebaseio.com
FIREBASE_DATABASE_SECRET=your_database_secret_from_firebase_console
BLIND_USER_UID=firebase_uid_of_blind_user
MIC_INDEX=0